</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>技术问题请联系：qqinys@126.com</p>
  </div>
</div>
<script src="/bootstrap/dist/css/bootstrap.css"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
