body, html{
  background: url('/images/website2.jpg') no-repeat top fixed;
  background-size: cover;
  font-family:"Noto Sans SC"
}

/* label{
  margin: 5px 0;
} */

.container{
  padding: 0 5%;
  min-height: calc(100vh - 60px);
}

.comment-add{
  text-align: center;
  margin-bottom: 30px;
}

.btn-cmt-add{
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  border: 1px solid black;
  position: relative;
  background-color: #cce47c;
  user-select: none;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

/* comment card part */
.row{
  margin: 0 auto;
}
.comment-box{
  /* padding-bottom: 5%; */
  margin: 5% auto;
  height: 450px;
  width: 22rem;
}

.card{
  box-shadow: rgba(0, 0, 0, 0.16) 2.4px 5px 10px;
  border: 1px solid black;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.card::before{
  content: "";
  width: 180px;
  height: 30px;
  margin-left: -90px;
  border: 1px solid rgba(200,200,200,.8);
  background: rgba(170,210,53,0.8);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  transform: rotate(-5deg);
  position: absolute;
  left: 50%;
  top: -15px;
}

.card-body{
  padding: 8%;
  padding-bottom: 0;
  max-height: 250px;
}

.card-img-top{
  width: 120px;
  margin: 35px auto 0 auto;
  border-radius: 50%;
}

.card-title{
  text-align: center;
  font-size: 26px;
  font-weight: 500;
}

.card-text{
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: pre-wrap;
  /* 考虑浏览器兼容性 */
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
}

/* add-comment part */
.wrap-add-cmt{
  background-color:#fff;
  width: 100%;
  max-width: 800px;
  min-height: 630px;
  margin: auto;
  padding-right:7%;
  padding-left:7%;
  margin-bottom: 10%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 4px 12px;
}

.add-comment-box{
  margin: 0 auto;
  padding-top: 9%;
  max-width: 500px;
  background: #fff;
  border-radius: 10px;
}

.add-name, .add-email, .add-content{
  margin: 20px auto;
  box-shadow: #edf5d6 0 4px 16px, rgba(17, 17, 26, 0.05) 0 8px 32px;
}

/* like part */
.like-botton{
  width: 38px;
  height: 50px;
  background: url('/images/like-inactive.png') no-repeat;
  background-position: left;
  background-size: cover;
  margin-left: 75%;
  float:left;
}

.like-total{
  margin-top: 12px;
}

/* .like-botton:active {
  background-position: right;
  transition: background .5s steps(28);
} */

.liked {
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 38px;
  height: 50px;
  background-image: url('/images/like-active.png');
}

/* post part */
.post-story{
  background-color: white;
  width: 100%;
  max-width: 800px;
  min-height: 500px;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  border: 1px solid black;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.post-ucomment{
  margin: 10px 6%;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 10%;
  white-space: pre-wrap;
}

.post-img{
  width: 120px;
  margin: 35px auto 0 auto;
  border-radius: 50%;
}

.post-like{
  position: absolute;
  bottom: 0;
  margin: 10px 0;
  width: 90%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* footer part */
.footer{
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #cce47c;
  text-align: center;
}

.footer p{
  padding-top: 20px;
  color:#000
}
